# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional but recommended
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo


# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
Podfile.lock

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
google-services.json
*.aab

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/
*.xcconfig

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs and databases
*.log
*.sqlite

# Build outputs
dist/
build/

# Cache directories
.cache/
.eslintcache
.npm

# Ruby vendor files
vendor/
frontend/vendor/
**/vendor/bundle/

# Additional files to ignore
.bundle/
package-lock.json
Gemfile.lock
gradle-wrapper.jar

# Android/IntelliJ specific
frontend/android/app/debug.keystore
*.keystore
!debug.keystore

# Additional project-specific files
backup/
**/link-assets-manifest.json
ios/frontend.xcodeproj/project.pbxproj.backup
**/project.pbxproj.backup
**/android/app/src/main/assets/
/package.json
